.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-secondary;
    font-weight: 500;
}

.h2 {

}

p, 
a, 
strong,
em,
span,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
    &::selection {
		background: $primary;
		color: white;
	}
}

@import "typography-mediaqueries";