@font-face {
    font-family: 'Muli';
    font-display: swap;
    src: local('Muli Light'), local('Muli-Light'), 
        url('../fonts/muli/Mulilight.woff2') format('woff2'),
        url('../fonts/muli/Mulilight.woff') format('woff'), 
        url('../fonts/muli/Mulilight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    font-display: swap;
    src: local('Muli Regular'), local('Muli-Regular'), 
        url('../fonts/muli/Muliregular.woff2') format('woff2'),
        url('../fonts/muli/Muliregular.woff') format('woff'),
        url('../fonts/muli/Muliregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    font-display: swap;
    src: local('Muli SemiBold'), local('Muli-SemiBold'),
        url('../fonts/muli/Mulisemibold.woff2') format('woff2'), 
        url('../fonts/muli/Mulisemibold.woff') format('woff'),
        url('../fonts/muli/Mulisemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    font-display: swap;
    src: local('Muli Italic'), local('Muli-Italic'),
        url('../fonts/muli/Muliitalic.woff2') format('woff2'),
        url('../fonts/muli/Muliitalic.woff') format('woff'),
        url('../fonts/muli/Muliitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Muli';
    font-display: swap;
    src: local('Muli ExtraLight Italic'), local('Muli-ExtraLightItalic'), 
        url('../fonts/muli/Muliextralightitalic.woff2') format('woff2'), 
        url('../fonts/muli/Muliextralightitalic.woff') format('woff'), 
        url('../fonts/muli/Muliextralightitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Muli';
    font-display: swap;
    src: local('Muli ExtraBold Italic'), local('Muli-ExtraBoldItalic'), 
        url('../fonts/muli/Muliextrabolditalic.woff2') format('woff2'),
        url('../fonts/muli/Muliextrabolditalic.woff') format('woff'),
        url('../fonts/muli/Muliextrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Muli';
    font-display: swap;
    src: local('Muli ExtraBold'), local('Muli-ExtraBold'),
        url('../fonts/muli/Muliextrabold.woff2') format('woff2'),
        url('../fonts/muli/Muliextrabold.woff') format('woff'),
        url('../fonts/muli/Muliextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    font-display: swap;
    src: local('Muli Light Italic'), local('Muli-LightItalic'),
        url('../fonts/muli/Mulilightitalic.woff2') format('woff2'), 
        url('../fonts/muli/Mulilightitalic.woff') format('woff'),
        url('../fonts/muli/Mulilightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Muli';
    font-display: swap;
    src: local('Muli Black'), local('Muli-Black'), 
        url('../fonts/muli/Muliblack.woff2') format('woff2'),
        url('../fonts/muli/Muliblack.woff') format('woff'), 
        url('../fonts/muli/Muliblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    font-display: swap;
    src: local('Muli ExtraLight'), local('Muli-ExtraLight'),
        url('../fonts/muli/Muliextralight.woff2') format('woff2'),
        url('../fonts/muli/Muliextralight.woff') format('woff'), 
        url('../fonts/muli/Muliextralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    font-display: swap;
    src: local('Muli Bold Italic'), local('Muli-BoldItalic'), 
        url('../fonts/muli/Mulibolditalic.woff2') format('woff2'),
        url('../fonts/muli/Mulibolditalic.woff') format('woff'), 
        url('../fonts/muli/Mulibolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Muli';
    font-display: swap;
    src: local('Muli SemiBold Italic'), local('Muli-SemiBoldItalic'),
        url('../fonts/muli/Mulisemibolditalic.woff2') format('woff2'), 
        url('../fonts/muli/Mulisemibolditalic.woff') format('woff'), 
        url('../fonts/muli/Mulisemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Muli';
    font-display: swap;
    src: local('Muli Bold'), local('Muli-Bold'),
        url('../fonts/muli/Mulibold.woff2') format('woff2'), 
        url('../fonts/muli/Mulibold.woff') format('woff'),
        url('../fonts/muli/Mulibold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    font-display: swap;
    src: local('Muli Black Italic'), local('Muli-BlackItalic'),
        url('../fonts/muli/Muliblackitalic.woff2') format('woff2'), 
        url('../fonts/muli/Muliblackitalic.woff') format('woff'),
        url('../fonts/muli/Muliblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    font-display: swap;
    src: local('Playfair Display'), local('PlayfairDisplay-Regular'), 
        url('../fonts/playfair/playfairdisplay.woff2') format('woff2'), 
        url('../fonts/playfair/playfairdisplay.woff') format('woff'), 
        url('../fonts/playfair/playfairdisplay.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    font-display: swap;
    src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'), 
        url('../fonts/playfair/playfairdisplayitalic.woff2') format('woff2'), 
        url('../fonts/playfair/playfairdisplayitalic.woff') format('woff'), 
        url('../fonts/playfair/playfairdisplayitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Playfair Display';
    font-display: swap;
    src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), 
        url('../fonts/playfair/playfairdisplaybold.woff2') format('woff2'), 
        url('../fonts/playfair/playfairdisplaybold.woff') format('woff'), 
        url('../fonts/playfair/playfairdisplaybold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    font-display: swap;
    src: local('Playfair Display Bold Italic'), local('PlayfairDisplay-BoldItalic'), 
        url('../fonts/playfair/playfairdisplaybolditalic.woff2') format('woff2'), 
        url('../fonts/playfair/playfairdisplaybolditalic.woff') format('woff'), 
        url('../fonts/playfair/playfairdisplaybolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Playfair Display';
    font-display: swap;
    src: local('Playfair Display Black'), local('PlayfairDisplay-Black'), 
        url('../fonts/playfair/playfairdisplayblack.woff2') format('woff2'), 
        url('../fonts/playfair/playfairdisplayblack.woff') format('woff'), 
        url('../fonts/playfair/playfairdisplayblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    font-display: swap;
    src: local('Playfair Display Black Italic'), local('PlayfairDisplay-BlackItalic'), 
        url('../fonts/playfair/playfairdisplayblackitalic.woff2') format('woff2'), 
        url('../fonts/playfair/playfairdisplayblackitalic.woff') format('woff'), 
        url('../fonts/playfair/playfairdisplayblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
