.p-0 {
	padding: 0;
}

.pb-50 {
	padding-bottom: 3.125rem !important;
}
.pt-60 {
	padding-top: 3.75rem !important;
}

.pb-65 {
	padding-bottom: 4.0625rem !important;
}

.mt-30 {
	margin-top: 1.875rem !important;
}

.mt-60 {
	margin-top: 3.75rem !important;
}

.mb-10 {
	margin-bottom: 0.625rem !important; 
}
.h-170 {
	height: 170px;
}
.highlight {
	color: $primary !important;
}