.mobile-menu {
    width: 100%;
    max-width: $mobile-menu-width;
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    z-index: 1001;
    background-color: $mobile-menu-bg-color;
    transition: $animation-time-md;
    overflow-y: scroll;

    &.open {
        right: 0;
    }
    &__second {
        .header__subcaption {
            display: none;
        }
    }

    .btn-nav-link {
        width: 100%;
        text-align: right;
        padding: 1rem 1rem;
        border-bottom: 1px solid #000;
        color: white;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.6875;
        transition: $animation-time-sm;
        &:hover, 
        &:focus {
            color: $primary;
        }
    }
    .dropdown-item {
        text-align: right;
    }
}

.body_menu-open {
    overflow: hidden;
}

.mobile-menu-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: $mobile-menu-header-padding-y $mobile-menu-header-padding-x 0.875rem $mobile-menu-header-padding-x;
    justify-content: flex-end;
    background-color: $mobile-menu-header-bg-color;
    border-bottom: 1px solid $mobile-menu-nav-link-border-color;
    .header__tel {
        margin-top: 0.5rem;
        display: inline-block;
    }

}

.mobile-menu__nav .nav-link, .btn-link {
    width: 100%;
    font-size: 1rem;
    font-weight: normal;
    text-transform: none;
    text-align: right;
    padding: $mobile-menu-nav-link-padding-y $mobile-menu-nav-link-padding-x;
    border-bottom: 1px solid $mobile-menu-nav-link-border-color;
}


.mobile-menu__nav .nav-link, .btn-link {
    color: $mobile-menu-nav-link-color;
    &:hover,
    &:focus {
        text-decoration: none;
        color:  $link-hover-color;
    }
}

.mobile-menu__nav .btn-link {
    position: relative;
    &:after {
        display: inline-block;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
        transform: rotate(180deg);
        transition: 0.3s;
    }
}

.mobile-menu__nav .btn-link.collapsed {
    &:after {
       transform: rotate(0deg);
    }
}

.mobile-menu-nav-itm .collapse {
     border-bottom: 1px solid $mobile-menu-nav-link-border-color;
}


.mobile-menu-nav-itm__list {
    .dropdown-item {
        color: $mobile-menu-nav-link-color;
        padding: 0.875rem 1rem;
        font-size: 0.875rem;
    }
}

.mobile-menu__nav .dropdown-item {}

.body-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.6;
    background-color: transparent;
    transition: $animation-time-md;
}

.body-overlay_done {
    background-color: $mobile-menu-body-overlay;
}