<header id="header" class="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-5 col-sm-7 col-9">
                <div class="heder-container-xs" id="nav-toggler-container-xs">
                    <a href="/" class="logo">
                        <div class="logo__text">
                            <span class="logo__title">Правозащитник</span>
                            <span class="logo__sub">Опыт. Честность. Эффективность</span>
                        </div>
                        <img src="img/logo.png" alt="Law Firm" class="logo__img img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-5 col-3">
                <nav class="navbar navbar-expand-xl header-navbar">
                    <div class="" id="nav-toggler-container-sm">
                        <button id="nav-toggler-move" class="navbar-toggler" type="button">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul id="main-nav" class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Главная</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">О компании</a>
                                </li>
                                <li class="nav-item dropdown">
                                      <button class="btn btn-nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       Наши услуги
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Частным лицам</a>
                                        <a class="dropdown-item" href="#">Бизнесу</a>
                                      </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Новости</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Контакты</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-xl-5">
                <div id="header-second" class="header__second">
                    <span class="header__subcaption">Ясна право</span>
                    <a href="+74912511115" class="header__tel">+7-(4912)-51-11-15</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="mobile-menu" class="mobile-menu">
    <div class="mobile-menu-header">
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon navbar-toggler-icon_white"></span>
        </button>
    </div>
</div>