.footer {
	&__title {
		position: relative;
	    font-size: 1.5rem;
	    margin-bottom: 1.45em;
	    &:after {
	    	position: absolute;
		    content: " ";
		    width: 2.5em;
		    height: 2px;
		    bottom: -0.725em;
		    left: 0;
		    background-color: $primary;
	    }
	}
}


@import "footer-mediaqueries";