.page {
	overflow-x: hidden;
	&_secondary {
		padding-top: 147px;
		background-image: url(../img/dark-pattern.png);
	}
}
.slick-list {
    .slick-loading & {
        background: #fff  center center no-repeat;
    }
}
@import "page-mediaqueries";